[Unit]
Description=HW07 Events: Part 1

[Service]
Type=simple
User=hw07
Group=hw07
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4271
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/hw07/cs4550-hw07
ExecStart=/bin/bash /home/hw07/cs4550-hw07/start.sh

[Install]
WantedBy=multi-user.target
